.container {
  display: grid;

  grid-template-columns: 4fr 2fr;

  padding: 2rem 6rem;
  background-color: var(--background-black);

  height: 100vh;
  max-height: calc(100vh - 8rem);

  @media (max-width: 500px) {
    display: block;

    overflow-y: hidden;
    padding: 0;
  }
}
