
.container {
  max-width: 60rem;
  max-height: 32rem;

  video {
    width: 100%;
    height: 100%;

    cursor: pointer;

    transition: ease 0.2s;

    &:hover {
      opacity: 80%
    }
  }

  @media (min-width: 1200px) {
    max-width: 64rem;
    max-height: 40rem;
  }

  @media (max-width: 500px) {
    max-width: 100vw;
    max-height: 100%;

    video {
      cursor: auto;
    }
  }
}
